/.metadata/

/org.xtext.example.wpdsl.ide/
/org.xtext.example.wpdsl.tests/
/org.xtext.example.wpdsl.ui/
/org.xtext.example.wpdsl.ui.tests/

/org.xtext.example.wpdsl/src-gen/
/org.xtext.example.wpdsl/xtend-gen/
/org.xtext.example.wpdsl/bin/
/org.xtext.example.wpdsl/META-INF/
/org.xtext.example.wpdsl/.launch/
/org.xtext.example.wpdsl/.settings/


